label.required::after {
  content: " *";
  color: red;
}
.btn-custom-logout {
  background-color: white;
  color: #961484;
  border: 2px solid white;
  transition: all 0.3s ease;
}

.btn-custom-logout:hover {
  background: linear-gradient(to right, #961484, #DA498C);
  color: white;
  border: 2px solid #DA498C;
}

.navbar-nav .nav-link {
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #DA498C !important;
}
